**/luau_packages/
**/roblox_packages/
**/packages
**/pesde.lock
**/network/server.luau
**/network/client.luau
**/dist
**/default.project.json
!pkgs/standalone/default.project.json

/out
/local
**/.pesde

/docs/node_modules/
/docs/.vitepress/cache

**.rbxm