@import "../../node_modules/vitepress-theme-api/dist/style.css";

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

.VPContent:has(.VPHome) {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.VPHome > .vp-doc {
	margin-top: 1rem
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

/**
  * Component VPDoc
  * -------------------------------------------------------------------------- */
.content-container {
  max-width: 100% !important;
}

/**
  * Component Grouping
  * -------------------------------------------------------------------------- */
.flex {
  display: flex;
  gap: 16px;
  flex-flow: wrap;
}

.grouping {
  background-color: var(--vp-c-gray-soft);
  padding: 2rem 2rem;
  border-radius: 1em;
  flex: 1 1 0px
}

.grouping > ul {
  list-style-type: square !important;
}

.grouping > h2 {
  margin: 0px !important;
  border-top: 0px !important;
  padding-top: 0px !important;
}

.grouping > ul > li > a {
  text-decoration: none !important;
}

/**
  * Component Button
  * -------------------------------------------------------------------------- */
.VPButton {
	border-radius: 4px !important
}

.DocSearch-Button {
	border-radius: 4px !important
}

/**
  * Component VPFeature
  * -------------------------------------------------------------------------- */
.VPFeature {
	border-radius: 6px !important
}

/**
  * Component Pager
  * -------------------------------------------------------------------------- */
.pager-link {
	border-radius: 6px !important
}


/**
  * Component Plugin
  * -------------------------------------------------------------------------- */
.plugin-tabs {
	border-radius: 6px !important
}

/**
  * Component Language
  * -------------------------------------------------------------------------- */
div[class*="language-"] {
	border-radius: 6px !important;
}